<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="1000"/>
        <property name="maxIdle" value="10"/>
        <property name="minIdle" value="8"/>
        <property name="maxWaitMillis" value="30000"/>
        <property name="testOnBorrow" value="true"/>
    </bean>

    <bean id="jedisPool" class="redis.clients.jedis.JedisPool"
          destroy-method="destroy">
        <constructor-arg index="0" ref="jedisPoolConfig"/>
        <constructor-arg index="1" value="192.168.20.73"
                         type="java.lang.String"/>
        <constructor-arg index="2" value="6379" type="int"/>
    </bean>
    <bean id="redisSentinelTemplate"
          class="com.kunteng.util.JedisSentinelTemplate">
        <property name="jedisPool" ref="jedisPool"/>
    </bean>

</beans>