<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="routerScan" class="com.kunteng.bean.RouterScan" scope="prototype"/>
    <bean id="hbaseDao" class="com.kunteng.impl.HbaseImpl" scope="prototype"/>
    <bean id="mcDao" class="com.kunteng.impl.XmemcachedImpl" scope="prototype"/>
    <bean id="routerService" class="com.kunteng.service.RouterService" scope="prototype"/>




</beans>